.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single {
    background-color: #464ee5 !important;
}

.multiple {
    background-color: #4eef5e !important;
}

.custom {
    background-color: #eba639 !important;
}
