* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.messages-container {
    margin-top: 50px;
    margin-left: 50px;
}

.message {
    box-sizing: border-box;

    max-width: 500px;

    padding: 20px;
    margin-bottom: 20px;

    border-radius: 25px;
}

.message-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;
}

.message-content {
    margin-bottom: 20px;
}

.usd-rate {
    margin-bottom: 10px;
}

.source-item {
    margin-bottom: 10px;
}

.single {
    background-color: cadetblue;

    button {
        background-color: yellow;
    }
}

.multiple {
    background-color: coral;

    button {
        background-color: teal;
        color: white;
    }
}

.custom {
    background-color: darkgreen;
    color: white;

    button {
        background-color: red;
        color: white;
    }
}

button {
    padding: 5px;

    border-radius: 25px;

    border: 2px solid black;

    cursor: pointer;
}
