.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single {
    color: #464ee5 !important;
}

.multiple {
    color: #34c443 !important;
}

.custom {
    color: #eba639 !important;
}
